tgcrypto
py-tgcalls==2.2.11
pyrogram==2.0.106
youtube-search-python
yt-dlp
lyricsgenius
speedtest-cli
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
ffmpeg-python
